basePath: /
definitions:
  internal.CheckHealthResponse:
    properties:
      status:
        example: operational
        type: string
    type: object
  internal.Data:
    properties:
      short_description:
        example: A short description of the person, place, or thing you searched for.
        type: string
    type: object
  internal.ErrorResponse:
    properties:
      errors:
        items:
          $ref: '#/definitions/internal.HTTPError'
        type: array
      status:
        example: error
        type: string
    type: object
  internal.HTTPError:
    properties:
      code:
        example: 400
        type: integer
      detail:
        example: Query parameter is required
        type: string
      request_id:
        example: f7a4c0c0-5b5e-4b4c-9c1f-1b5c1b5c1b5c
        type: string
    type: object
  internal.InternalServerError:
    properties:
      code:
        example: 500
        type: integer
      detail:
        example: An internal server error occurred. Please contact the developer at
          youssefsobhy22@gmail.com and provide the request ID.
        type: string
      request_id:
        example: f7a4c0c0-5b5e-4b4c-9c1f-1b5c1b5c1b5c
        type: string
    type: object
  internal.InternalServerErrorResponse:
    properties:
      errors:
        items:
          $ref: '#/definitions/internal.InternalServerError'
        type: array
      status:
        example: error
        type: string
    type: object
  internal.SuccessResponse:
    properties:
      data:
        $ref: '#/definitions/internal.Data'
      status:
        example: success
        type: string
    type: object
host: wikipedia.youssefsobhy.com
info:
  contact:
    email: youssefsobhy22@gmail.com
    name: Youssef Sobhy
  description: A simple API to get the short description of a wikipedia article.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Wikipedia API
  version: 1.0.0
paths:
  /api/v1:
    get:
      consumes:
      - application/json
      description: Check if the API is operational.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal.CheckHealthResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/internal.InternalServerErrorResponse'
      summary: Check if the API is operational.
  /api/v1/search:
    get:
      consumes:
      - application/json
      description: Search for a short description of a person, place, or thing.
      parameters:
      - description: The name of the person, place, or thing you want to search for.
        in: query
        name: query
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal.SuccessResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/internal.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/internal.InternalServerErrorResponse'
      summary: Search for a short description of a person, place, or thing.
schemes:
- https
- http
swagger: "2.0"
